<!-- compare template starts here  -->
    <script id="compare_template" type="text/template">
        
        <style>
.compareBtn
{
   padding : 5px;
   border: 1px solid;   
   background-color: #46a8a2;
   color: #fff;
   right: 0px;
   top:50px;
   float:right;
   
}

</style>
<button type="submit" style={compareBtn} onclick="showComparePageTemplate()" id="compare_count">
            Compare {{compare_count}}
        </button>
        <div class="compareerror" id="comparelistErrorMsg" hidden>
            <span id="errorMsg"></span>
        </div>
    </script>
    <!--    compare template ends here  -->