<!-- comparelist page starts here -->
    <script id="comparelist_template" type="text/template">
        <div>
            <div>
                <button class='back-button-nviz' onclick="GoToProductListFromCompareList()"><span class="fa fa-arrow-left"></span></button>
            </div>
            <div id="page" data-currency-iso-code="USD">
            <div id="content" class="clearfix">
                <!-- <button id="btnBackToPLP">Back</button> -->
                <a id="skip-to-content"></a>
                <div id="globalMessages">
                </div>
            <table width="100%">
                <tr>
                    <td class=''></td>
                    {{#each compare_results_code}}
                    <td class='add-border'><img src={{#with (lookup ../compare_results_images @index)}} {{this}}{{/with}}></td>
                    {{/each}}
                </tr>
                <tr>
                    <td class='compare-nv-column add-border'><b>Name</b></td>
                    {{#each compare_results_code}}
                    <td class='compare-nv-column_data add-border'>{{#with (lookup ../compare_results_name @index)}} {{this}}{{/with}}</td>
                    {{/each}}
                </tr>
                <tr>
                    <td class='compare-nv-column add-border'><b>Price</b></td>
                    {{#each compare_results_code}}
                    <td class='compare-nv-column_data add-border'>${{#with (lookup ../compare_price_value @index)}}{{this}}{{/with}}</td>
                    {{/each}}
                </tr>
                <tr>
                    <td class='compare-nv-column add-border'><b>Color</b></td>
                    {{#each compare_results_code}}
                    <td class='compare-nv-column_data add-border'>Grey</td>
                    {{/each}}
                </tr>
                <tr>
                    <td class='compare-nv-column add-border'><b>Rating</b></td>
                    {{#each compare_results_code}}
                    <td class='compare-nv-column_data add-border'>{{#with (lookup ../compare_results_averageRating @index)}} {{this}}{{/with}}</td>
                    {{/each}}
                </tr>
                <tr>
                    <td class='compare-nv-column add-border'><b>Dimensions</b></td>
                    {{#each compare_results_code}}
                    <td class='compare-nv-column_data add-border'>60 x 90 mm</td>
                    {{/each}}
                </tr>
                <tr>
                    <td class='compare-nv-column add-border'><b>Code</b></td>
                    {{#each compare_results_code}}
                    <td class='compare-nv-column_data add-border'>{{#with (lookup ../compare_results_code @index)}} {{this}}{{/with}}</td>
                    {{/each}}
                </tr>
            </table>
        </div>
    </script>
    <!-- comparelist page ends here -->