<!--left bar template starts here-->
<script id="left_bar_template" type="text/template">
       
            <div class="headline">Refine By</div>
            {{#each Master_facets_facets_name}}
            {{#equal this "Stores"}}
                {{else}}
                <div class="facet">
                <div class="facetHead">
                <a class="refinementToggle" href="#" data-hide-facet-text="Hide Refinement" data-show-facet-text="Refine By" title="Hide Refinement">
                                  {{this}}
                                </a>
                 </div>
                
                <div class="facetValues" style="padding-top:3px; cursor:pointer;">
                     
                    
                    <div class="facetscroller" id="more"> 
                    <div class="topFacetValues">
                        <ul class="facet_block indent " id="divFacets">
                            {{#each (facetValues @index)}} 
<li>
                                <!--  <a href="#" onclick="getResults({{@index}}, {{@../index}})">{{facetValue this}}</a>&nbsp; -->
                            <label><input type="checkbox" value="{{@index}},{{@../index}}" />{{facetValue this}}&nbsp;
                                <span class=" facetValueCount ">
        <span class=" facetValueCount " id="check_{{@index}},{{@../index}}"></span>
                                ({{facetValueCount @index @../index}})</span></label>
                            </li>
                             {{/each}}
                        </ul>
                    
                    </div>
    </div>
                    <ul class="facet_block ">
                    </ul>
                </div>
            </div>
            {{/equal}}
            {{/each}}
     
    </script>
    <!-- left bar template ends here  -->