 <!-- pagination template starts here  -->
    <script id="pagination_template" type="text/template">
    
            <div class="totalResults" hidden>{{TotalProducts}} Products found</div>
            <form id="sort_form1" name="sort_form1" method="get" action="" class="sortForm">
                <label for="sortOptions1" style="color:teal; font-size:15px;">Sort by:</label>
                <select id="sortOptions1" name="sort" class="sortOptions" onchange="sortProduct()">
                    <option value="relevance">
                        Relevance
                    </option>
                    <option value="topRated">
                        Top Rated
                    </option>
                    <option value="name-asc">
                        Name (ascending)
                    </option>
                    <option value="name-desc">
                        Name (descending)
                    </option>
                    <option value="price-asc">
                        Price (lowest first)
                    </option>
                    <option value="price-desc">
                        Price (highest first)
                    </option>
                </select>
            </form>
            <div class="right">
                <div id="paginationdiv">
				<ul class='pagination' style="width:200px;">
							   
							   <li class="prev">
			<table>
				<tbody><tr>
				 <td><img src="/_ui/desktop/common/images/pagination-prev.png" style=" vertical-align: initial !important;margin-top: 12px;margin-left: -16px"></td>
				 <td><a href="#" onClick='navPage_left()' rel="prev" class="previous" style="margin-top:-3px;width:27px;">Previous</a></td>
			    </tr>
			</tbody></table>
			</li>
							   

                                 {{#each (NumberOfPages)}}
        <li><a href='#' onClick='showPage({{this}})' disabled='disabled'>{{this}}</a></li>   
                            {{/each}} 
		
							<li class="next">
								<table>
							<tbody><tr>
							<td><a href="#" rel="next" class="next" style="width:33px;margin-top: -3px;" onClick='navPage_right()'>Next</a></td>
								<td><img data-feo-orig-src="/_ui/desktop/common/images/pagination-next.png" src="http://2.resources.www.croma.com.edgesuite.net/H/3/tYOaRTGEQ.webp" style=" vertical-align: initial !important;margin-top:12px;" data-blzexdl="1"><script blzsys="1" type="text/javascript">aFeoOverrideAttrRead('img', 'src')</script></td>
							</tr>
								</tbody></table>
							</li>

                                </ul>
								
								
								
                </div>
            </div>
        </div>
    </script>
    <!-- pagination template ends here  -->