    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="http://1.resources.www.croma.com.edgesuite.net/I/Z/Ren-luhJl7UdU.css" />
<link rel="stylesheet" type="text/css" media="all" href="http://1.resources.www.croma.com.edgesuite.net/A/U/Ren-xGu0wP1nw.css" />

  
<div class="span-24">
    
	<!-- left bar template ends here  -->
		
		<div class="span-6 facetNavigation">
		</div>
    <div class="span-18 last">
		<div class="compare-section">
		</div>
		<div class="paginationBar top clearfix">
		</div>
		<div class="productGrid">
		</div>
	</div>
	
</div>

	<div id="productDetailsPanel" class="productDetailsPanel" hidden>
	</div>
	
	<div id="comparelist-section" class="comparelist-section" hidden>
	</div>
		
<script src="scripts.js"></script>