<!-- product list template starts here  -->
<script id="productList_template" type="text/template">
      
            {{#each relevance_results_code}}
            <div class={{productDivName @index}}>
                <ul class="corousel">
                    <li>
                        <div class="gBox" id="productListDiv199876">
                            <article>
                                <div id={{this}} class="contentinside" style="margin-top:-3px; height:40px;">
                                </div>
                                <div class=" ">
                                    <a href={{#with (lookup ../relevance_results_images @index)}} {{this}} {{/with}} title={{#with (lookup ../relevance_results_name @index)}} {{this}} {{/with}} class="productMainLink ">
                                    </a><div class="thumb" style="margin-bottom: 9px;">
                                        <a href="#" id={{this}} onclick=openPDP({{this}}) title={{#with (lookup ../relevance_results_name @index)}} {{this}} {{/with}} class="productMainLink ">

                                            <div style="text-align: center;">
                                                <img id="prodImgId199876" src={{#with (lookup ../relevance_results_images @index)}} {{this}} {{/with}} alt={{#with (lookup ../relevance_results_name @index)}} {{this}} {{/with}} title={{#with (lookup ../relevance_results_name @index)}} {{this}} {{/with}} width="140px;" height="140px;" >
                                            </div>
                                        </a><h2>
                                            <a id={{this}}  title={{#with (lookup ../relevance_results_name @index)}} {{this}} {{/with}} class="productMainLink " onclick=openPDP({{this}})>
                                            </a>
                                            <a id={{this}} class="productMainLink" style="font-size: 14px; margin-top: 5px;    cursor: pointer;" onclick=openPDP({{this}})> {{#with (lookup ../relevance_results_name @index)}} {{this}} {{/with}}</a>
                                        </h2>
                                        <div style="float: left; margin-top: 1px; padding-left: 2px;">
                                            <span class="stars " style="width: {{setWidthForRating (lookup ../relevance_results_averageRating @index)}}px; margin-right: 21px;">{{lookup ../relevance_results_averageRating @index}}</span>
                                        </div>
                                        <span style="padding-left: 6px;">
                                            <!--<input type="checkbox" style="margin-left:16px;" id="compChkBoxId199876" name="compChkBoxId199876" value={{this}}> Add To Compare-->
                                            <!--<button class='' type="button" id=btn{{this}} onclick="addToCompare(this)">Add to compare list</button>-->
                                            <a id=btn{{this}} onclick="addToCompare({{this}})">Add to compare</a>
                                        </span>
                                        <span>
                                            <h3 style="font-size: 16px; margin-top:10px;">
                                                <i class="fa fa-inr"></i>
                                                {{#with (lookup ../relevance_price_value @index)}}{{this}}{{/with}}
                                            </h3>
                                        </span>
                                        <h4 style="font-size: 12px; color: grey; font-weight: inherit;">
                                            MRP&nbsp;<i class="fa fa-inr"></i>
                                            <span style="text-decoration: line-through;">
                                                {{#with (lookup ../relevance_price_value @index)}}{{this}}{{/with}}
                                            </span>
                                        </h4>
                                        <div class="op" style="font-size: 16px; margin:4px 0 15px 0;">
                                            <p>
                                                Home Delivery<span class="qm"> [?]</span>
                                            </p>
                                            <p class="es">
                                                Express Delivery<span class="qm"> [?]</span>
                                            </p>
                                        </div>
                                        <div class="cart clearfix" style="margin-top:-30px;">
                                            <div id="actions-container-for-ProductGrid" class="listAddPickupContainer clearfix">
                                                <div id="ProductGrid-ListPickUpInStoreAction" data-index="1" class="">
                                                </div>
                                                <div id="ProductGrid-ListAddToCartAction" data-index="2" class="">
                                                    <div class="cart clearfix">
                                                        <form id="addToCartForm199876" class="add_to_cart_form" action="/cart/add" method="post">
                                                            <input type="hidden" name="productCodePost" value="199876">
                                                            <button type="submit" class="addToCartButton " >Add to cart</button>
                                                            <input type="hidden" name="CSRFToken" value="a350337b-795b-4973-a0a4-bb57124372be">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qv">
                                        <a href="/nikon-coolpix-b700-20-3mp-digital-camera-black-/p/199876/quickView" class="popup  cboxElement" style="font-size: 16px;">Quick View</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </li>
                </ul>
            </div>
            
           
            {{/each}}
    </div>
    </script>
<!-- product list template ends here  -->

