<!-- productdata starts here  -->
<script id="productdata_template" type="text/template">
<button id="btnBackToPLP">Back</button>

<div style="width: auto; margin: 0 auto; padding: 12px 0 5px;">
		<ul class="tabs" data-persist="true">
			<li class="selected"><a href="#accessibletabsnavigation0-0" onclick="openTabPDP(0)">Technical Specifications</a></li>
			<li class=""><a href="#accessibletabsnavigation0-1" onclick="openTabPDP(1)">Reviews</a></li>
			<li class=""><a href="#accessibletabsnavigation0-2" onclick="openTabPDP(2)">Videos</a></li>
			<li class=""><a href="#accessibletabsnavigation0-2" onclick="openTabPDP(2)">Offers</a></li>
			<li id="flixbrandid" class="flixtab" style="display:none;"><a href="#view5" class="flixtag" onclick="display('BrandContent')">Highlights</a></li>
			<!-- <li><a href="#view5">You 'll' Also need</a></li>  -->
			<!--<li><a href="#view6">Similar Products</a></li>
			<li><a href="#view7">Customers who bought also viewed</a></li>-->	
			<!-- <li><a href="#view8">Overview</a></li> -->
		</ul>
	</div>
    <hr>
    <table>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <!-- Added by Dhiraj Kulkarni -->
                    <!-- <div style="height:400px;width:515px;border-style: dotted;border-width: 1px;">  -->
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <link href="http://1.resources.www.croma.com.edgesuite.net/A/U/Ren-xGu0wP1nw.css" data-feo-orig-href="/_ui/desktop/common/css/croma.css" rel="stylesheet" type="text/css">
                                    <style>
                                    .pImage .ti1 span,
                                    .pImage .ti2 span,
                                    .pImage .ti3 span {
                                        display: none;
                                    }
                                    
                                    .pImage div.ti1:hover span,
                                    .pImage div.ti2:hover span,
                                    .pImage div.ti3:hover span {
                                        display: block;
                                        z-index: 100;
                                        background: url("http://www.croma.com/lenovo-idea-pad-500s-80q30056in-windows-10-6th-gen-intel-core-i5-4gb-1tb-silver-/images/status-info.png") no-repeat;
                                        margin: 10px;
                                        margin-left: -13px;
                                        font-weight: normal;
                                        position: relative;
                                        top: 90px;
                                        right: 0px;
                                        text-decoration: none background: #fff;
                                        background: rgba(255, 255, 255, 0.93);
                                        border: 1px solid #dcdcdc;
                                        border-radius: 3px;
                                        -moz-border-radius: 3px;
                                        -webkit-border-radius: 3px;
                                        -ms-border-radius: 3px;
                                        box-shadow: 0 4px 3px -4px #333;
                                        -moz-box-shadow: 0 4px 3px -4px #333;
                                        -webkit-box-shadow: 0 4px 3px -4px #333;
                                        color: #484848;
                                        height: auto;
                                    }
                                    </style>
                                    <!-- Added by Dhiraj Kulkarni -->
                                    <section class="product">
                                        <div class="pImage">
                                            <ul style="float: left;margin-top: -20px;display: inherit;width:100px;position:relative;z-index:2;">
                                            </ul>
                                            <section class="product">
                                                <div class="pImage">
                                                    <ul style="float: left;margin-top: -20px;display: inherit;width:100px;position:relative;z-index:2;">
                                                    </ul>
                                                    <div class="productImage" style="cursor: url(../images/zoom2Enlarge.png),url(/zoom2Enlarge.cur),auto; cursor: url(/zoom2Enlarge.cur) \9;z-index:1;">
                                                        <a class="productImagePrimaryLink" id="imageLink" href="/canon-eos-80d-24mp-dslr-camera-black-/p/196582/zoomImages?galleryPosition=1" data-href="/canon-eos-80d-24mp-dslr-camera-black-/p/196582/zoomImages" target="_blank" title="Enlarged view of picture">
                                                            <img id="prodImgId196582" src={{product_main_imageurl}} alt={{product_name}} title={{product_name}} ;="">
                                                        </a>
                                                        <a class="productImageZoomLink" id="zoomLink" href="/canon-eos-80d-24mp-dslr-camera-black-/p/196582/zoomImages?galleryPosition=1" data-href="/canon-eos-80d-24mp-dslr-camera-black-/p/196582/zoomImages" target="_blank" title="Enlarged view of picture">
                                                        </a>
                                                    </div>
                                                    <div class="productThumb">
                                                        {{#each PDP_gallery_thumbnails}}
                                                        <span class="thumb active">
        <img src={{this}} data-primaryimagesrc={{this}} data-galleryposition={{@index}} alt={{product_name}} title={{product_name}} width="85px;" height="85px;">   
    </span> {{/each}}
                                                    </div>
                                                    <div class="proSpecialIcons">
                                                        <div class="EMI">
                                                            <div class="kf emiHover">
                                                                <h3 style="margin:0px 0 8px 0;">Pay using EMI</h3>
                                                                <ul>
                                                                    <li style="font-weight:normal">EMI stands for Equated Monthly Installment.</li>
                                                                    <li style="font-weight:normal">Pay in easy 3, 6, 9,12 18 or 24 months.</li>
                                                                    <li style="font-weight:normal">Available for order value <i class="fa fa-inr"></i> 2,500 &amp; above.</li>
                                                                    <li style="font-weight:normal">For AMEX, AXIS, CITI, HDFC, HSBC, ICICI, INDUS,KOTAK, SBI</li>
                                                                    <li style="font-weight:normal">Customer can select Issuing Bank and pay via respective bank's card only.</li>
                                                                    <li style="font-weight:normal">No Processing fees charged.</li>
                                                                    <li style="font-weight:normal">Bank charges annual interest rates according to the reducing monthly balance.</li>
                                                                    <li style="font-weight:normal">Interest charged will not be refunded.</li>
                                                                    <li style="font-weight:normal">EMI transactions are at the discretion of your card issuing bank. Please contact your issuing bank for any clarifications.</li>
                                                                </ul>
                                                                <img alt=" " src="/_ui/desktop/common/images/nav2-hover.png" class="i">
                                                            </div>
                                                        </div>
                                                        <div class="pDis">
                                                            <span>5</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                </td>
                                <td style="/* padding-top:100px; */padding-right:25px;">
                                    <div id="div3d" style="margin-left: -6px;">
                                    </div>
                                    <div id="extra">
                                        <div id="3d">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- </div>  -->
                    <!-- Added by Dhiraj Kulkarni -->
                    <!-- pincode goes here -->
                    <!-- New Changes Start-->
                    <div class="newchanges" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="INR">
                        <input type="hidden" itemprop="price" id="priceIP" content="80745.0">
                        <meta itemprop="availability" content="http://schema.org/InStock">
                        <table style="margin-top:10px;">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="cta">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <!-- here goes discount -->
                                                            <div class="radioButtTab" style="height:60px;">
                                                                <!--  Enter Pincode -->
                                                                <input id="pincode" class="pdpPin" placeholder="Enter Pincode" type="text" name="pincode" maxlength="6" style="margin-left:0px; margin-top: 15px; height: 30px; outline: none; margin-top: 15px; height: 30px;border: 1px solid #bababa;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 2px 1px #e0e0e0 inset;
    -moz-box-shadow: 0px 2px 1px #e0e0e0 inset;
    -webkit-box-shadow: 0px 2px 1px #e0e0e0 inset;
    color: #717171;
    font-size: 13px !important;
    height: 35px; 
     width: 100px;
    padding-left:10px;padding-right:0px;
    " onkeypress="checkPincode(event);">
                                                                <div style="margin-top:-35px;">
                                                                    <div style="margin-left: 117px;">
                                                                        <input type="button" value="Check Availability" class="pdpPinChk" id="checkpincode" style="border-radius:4px;width: 140px;color: white; border: none; height: 35px; background-color:  #45a8a2; margin-RIGHT: 175PX;font-weight: inherit;cursor:pointer" onclick="PincodeCheck()">
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" name="code" id="code" value="196582">
                                                                <img src="/_ui/desktop/common/images/loading.gif" id="PincodeCheckLoading" style="height: 161px; width: 186px;display:none; margin-left: 97px;margin-top: -61px;">
                                                            </div>
                                                            <div id="deliveryTatMessage" style="color:green;display:block">
                                                                <p id="hdTATMsg"> </p>
                                                                <p id="spTATMsg"> </p>
                                                                <p id="edTATMsg"> </p>
                                                            </div>
                                                            <div>
                                                                <span id="errorMessage" class="errorMessage" style="display: none; margin-bottom: -155px;"></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <!--<button onclick="knowmore()">Know More</button> -->
                                <!-- Added compare to checkbox but need to wire it -->
                                <tr>
                                    <td>
                                        <div id="deliveryFlagDefault">
                                            <table style="margin-top: 0px; width: 90%;">
                                                <tbody>
                                                    <tr>
                                                        <td style="background-image: url('/_ui/desktop/common/images/tick.png'); background-repeat: no-repeat; padding-left: 20px;width:30%;padding-top:1px;">
                                                            <p class="tip" style="width:105px;">Home Delivery[?]<span>This product can be delivered to 5000 plus pincode locations.</span></p>
                                                        </td>
                                                        <td style="background-image: url('/_ui/desktop/common/images/cross1.png'); background-repeat: no-repeat; padding-left: 20px;width:30%;padding-top:1px;">
                                                            <p class="tip" onclick="storepickuppopup()"> Store Pickup[?]<span style="display:none">You can order this product online, and pick up from select stores in the following cities :<br>
</span>
                                                            </p>
                                                        </td>
                                                        <td style="background-image: url('/_ui/desktop/common/images/cross1.png'); background-repeat: no-repeat; padding-left: 20px;width:30%;padding-top:1px;">
                                                            <p class="tip" style="width: 123px;"> Express Shipping[?]<span style="display:none">Express shipping is available for this product in the following cities:<br>
</span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div id="flag1" style="color: #69a2a9; width: 90px; background-image: url('/_ui/desktop/common/images/tick.png'); background-repeat: no-repeat; padding-left: 20px; display: none;padding-top:1px;">
                                                                <div class="tip">
                                                                    Home Delivery<span>Place your order and get it
                                                            delivered at your doorstep within 7 working days.</span>
                                                                </div>
                                                            </div>
                                                            <div id="flag2" style="color: #69a2a9; width: 90px; background-image: url('/_ui/desktop/common/images/cross1.png'); background-repeat: no-repeat; padding-left: 20px; display: none;padding-top:1px;">Home Delivery
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div id="flag3" style="color: #69a2a9; width: 100px; background-image: url('/_ui/desktop/common/images/tick.png'); background-repeat: no-repeat; padding-left: 20px; display: none;padding-top:1px;" onclick="storepickuppopup()">
                                                                <div class="tip">
                                                                    Store Pickup[?]<span>You can order this product
                                                            online, and pick up from select stores in the following
                                                            cities :<br>
                                                        </span>
                                                                </div>
                                                            </div>
                                                            <div id="flag4" style="color: #69a2a9; width: 100px; background-image: url('/_ui/desktop/common/images/cross1.png'); background-repeat: no-repeat; padding-left: 20px; display: none;padding-top:1px;">Store Pickup[?]
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div id="flag5" style="color: #69a2a9; background-image: url('/_ui/desktop/common/images/tick.png'); background-repeat: no-repeat; padding-left: 20px; display: none;padding-top:1px;">
                                                                <div class="tip">
                                                                    Express Shipping[?]<span>Express shipping is available
                                                            for this product in the following cities:<br>
                                                        </span>
                                                                </div>
                                                            </div>
                                                            <div id="flag6" style="color: #69a2a9; background-image: url('/_ui/desktop/common/images/cross1.png'); background-repeat: no-repeat; padding-left: 20px; display: none;padding-top:1px;">Express Shipping[?]
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <!-- coupon code start -->
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="width:390px;margin-top: -10px;margin-bottom: 10px;" class="offers2">
                                            <u>
    <h5>Offers</h5>
</u>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="coupon" style="margin-top:-2px;">
                                            <h4>
    <b>Get  Canon DSLR Carry case  FREE!!</b>
    <!-- Offers  -->
</h4>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="padding: 7px; width: 210px;">
                                                            <input type="radio" name="productId" path="166505" value="166505" onclick="freebieAdd(this.value)">
                                                            <radiobutton path="entry.applyFlag" items="166505">
                                                                Gift Canon dSLR Carry cases
                                                                <br>
                                                                <br>
                                                                <img src="" alt="Gift Canon dSLR Carry cases" title="Gift Canon dSLR Carry cases" style="border:none;">
                                                                <br>
                                                            </radiobutton>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br>
                                        </div>
                                    </td>
                                    <!-- coupon code end -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- New Changes End -->
                </td>
                <td>
                    <!-- Added by Dhiraj Kulkarni -->
                    <div class="span-10 productDescription last" style="margin-left: 70px;">
                        <h1 style="border:none; font-family: mercedeslight,Tahoma,Geneva,Arial,Helvetica,sans-serif;">{{product_name}}</h1>
                        <meta itemprop="name" content={{product_name}}>
                        <h3>SKU: {{product_code}}</h3>
                        <div class="testfreaks-badge">
                            <div class="testfreaks">
                                <div class="tf-stars tf-stars-svg">
                                    <span class="tf-stars-svg" style="width: 88% !important"></span>
                                </div>
                                <div class="tf-based">
                                    <div class="tf-rating">{{product_averageRating}}</div>
                                    <div class="tf-count">({{noOfReviews}} reviews)</div>
                                </div>
                            </div>
                        </div>
                        <meta itemprop="sku" content="196582">
                        <!--<div class=" prodReview clearfix">
                            <span class="greyStars " style="width: 80px; margin-right: 0px;"></span>
                        </div>-->
                        <div style="float: left; margin-top: 1px; padding-left: 2px;">
                                            <span class="stars " style="width: {{setWidthForRating product_averageRating}}px; margin-right: 21px;">{{product_averageRating}}</span>
                                        </div>
                        <!--        <div class="summary"> -->
                        <!--        </div> -->
                        <div class="features" style="width:166px;">
                            <h5>Key Features</h5>
                            <ul>
                                <li>24MP APS-C CMOS Sensor</li>
                                <li>45-Point All Cross-Type AF</li>
                                <li>Dual Pixel CMOS AF</li>
                                <li>Full HD 60p Movie Shooting</li>
                            </ul>
                        </div>
                        <!-- here comes the prices -->
                        <div class="cta">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h2 style="font-size: 20px;"><i class="fa fa-inr"></i> {{product_price}}
</h2>
                                            <h4 class="strike" style="font-size: 16px; color: grey;">MRP&nbsp;<i class="fa fa-inr"></i>
<span style="text-decoration: line-through;"> {{product_price}}
</span>
</h4>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <br>
                        <!-- here comes the add to cart part -->
                        <form id="addToCartForm196582" class="add_to_cart_form" action="/cart/add" method="post">
                            <input type="hidden" id="productId" name="productId">
                            <table style="margin-top:-30px;width:390px;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <!-- Changes For Add To Cart Button Start  -->
                                            <input type="hidden" maxlength="3" size="1" id="qty" name="qty" class="qty" value="1">
                                            <input type="hidden" name="productDescCM" id="productDescCM" value="Canon EOS 80D 24MP DSLR Camera (Black)">
                                            <input type="hidden" name="productMOP" id="productMOP" value="80745.0">
                                            <input type="hidden" name="productCodePost" value="196582">
                                            <button id="buyNowButton" type="button" style="border-radius:4px;width:140px;height:40px;border-style:none;background-color: #ff4c4c !important;border-color: #45a8a2 !important;" class="addToCartButton flix_cart_click_check" onclick="buyNow('196582');">BUY NOW
                                            </button>
                                            <a href="/cart" id="buyNowRedirect" style="display:none;"></a>
                                            <!-- Buy now button code "background-image: url('/_ui/desktop/common/images/buy-now-related.png');" -->
                                            <button id="addToCartButton" type="submit" style="border-radius:4px;width:140px;height:40px;border-style:none;background-color: #45a8a2 !important;border-color: #45a8a2 !important;" class="addToCartButton flix_cart_click_check" onclick="trackAddToCartPDP()">ADD TO CART
                                            </button>
                                            <!-- <button
                                                            style="width:140px;height:40px;border-style:none;background-color: #45a8a2;border-color: #45a8a2;"
                                                            type="submit" class="addToCartButton"
                                                            >ADD TO CART</button>  -->
                                            <!-- Changes For Add To Cart Button End  -->
                                            <br>
                                            <!-- Button added for buy now but need to wire it -->
                                            <!-- <button style="width:101px;height:26px;border-style:none; background-image: url('/_ui/desktop/common/images/buy-now-related.png');"
                                 class="addToCartButton"></button> -->
                                            <div class="a2a_kit a2a_default_style LoveShare span-10 last clearfix" style="width: 75px; margin-top: 0px; margin-left: 0px; line-height: 16px;">
                                                <a class="a2a_dd share" href="https://www.addtoany.com/share#url=http%3A%2F%2Fwww.croma.com%2Fcanon-eos-80d-24mp-dslr-camera-black-%2Fp%2F196582&amp;title=Canon%20EOS%2080D%2024MP%20DSLR%20Camera%20(Black)%20-%20Price%2C%20Specifications%20%26%20Features%20%7C%20Croma" title="View more services" style="
    width: 0px;
    padding-left: 17px;
"><span class="a2a_svg a2a_s__default a2a_s_a2a a2a_img_text" style="background-color: rgb(1, 102, 255); width: 16px; line-height: 16px; height: 16px; background-size: 16px; border-radius: 2px;">
<svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <g fill="#FFF">
        <path d="M14 7h4v18h-4z"></path>
        <path d="M7 14h18v4H7z"></path>
    </g>
</svg>
</span>
Share</a>
                                                <div style="clear: both;"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="hidden" name="CSRFToken" value="f2b6d725-0d18-4c2f-b7c9-f0c1b803b330">
                        </form>
                        <!-- here comes the emi button part -->
                        <!-- Added link for buy back by Rahul (1257406) -->
                        <button id="buyBackButton" type="submit">
                            EXCHANGE AN OLD PRODUCT</button>
                        <br>
                        <br>
                        <br>
                        <br>
                        <!---->
                        <div id="buybackDocInfo" style="margin:4px;font-size:12px;color:#808080;font-family: Helvetica,Arial,sans-serif !important;">
                        </div>
                    </div>
                    <!-- here comes the delivery flag -->
                    <div class="yCmsContentSlot span-8 section2 cms_disp-img_slot last">
                        <div class="content">
                            <div class="jumbocms">
                                <iframe src="http://webnspice.com/projs/CromaProjects/leadO3.php?q1=&amp;q2=196582&amp;Campaign=NocashweekUpdated" width="325" height="200" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- Added by Dhiraj Kulkarni -->
                </td>
            </tr>
            <!-- New Changes -->
            <tr>
                <td></td>
                <td>
                </td>
            </tr>
            <!-- New Changes -->
        </tbody>
    </table>
    <div class="yCmsContentSlot span-24">
    </div>
    <br>
    <br>
    <div class="newchanges" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="INR">
        <input type="hidden" itemprop="price" id="priceIP" content="23199.0">
        <meta itemprop="availability" content="http://schema.org/InStock">
        <input onclick="emi1()" type="button" value="EMI" style="border-radius:4px;width: 140px; margin-left: 0px; margin-top: -5px; color: white; border: none; height: 35px; background-color: #45a8a2; margin-RIGHT: 40px;text-transform: uppercase;font-weight: inherit;cursor:pointer">
        <!--<input type="checkbox" id="compChkBoxId199876" name="compChkBoxId199876" value="199876" onchange="addToCompareSection('199876','Nikon Coolpix B700 20.3MP Digital Camera (Black)','/medias/?context=bWFzdGVyfGltYWdlc3w1ODY0N3xpbWFnZS9qcGVnfGltYWdlcy9oMzgvaDU1Lzg4MjI2ODE4OTQ5NDIuanBnfDEzOTdjNGE2NmJmNGE5YjA5ODk1ZTBkMmEwMTdhOGQxMzM0NDI2YmVkMDEyMTg2NzliZTljYjZjMjJlMTBjOWM','2');"> Add To Compare-->
        <span style="padding-left: 6px;" id=span{{product_code}} >
            <a id=btn{{product_code}} onclick="addToComparePDP({{product_code}})">Add to compare</a>
        </span>
        <table style="margin-top:10px;">
            <tbody>
                <tr>
                    <td>
                        <div class="cta">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <!-- here goes discount -->
                                            <div class="radioButtTab" style="height:60px;">
                                                <!--  Enter Pincode -->
                                                <input id="pincode" class="pdpPin" placeholder="Enter Pincode" type="text" name="pincode" maxlength="6" style="margin-left:0px; margin-top: 15px; height: 30px; outline: none; margin-top: 15px; height: 30px;border: 1px solid #bababa;border-radius: 3px 3px 3px 3px;-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;-ms-border-radius: 3px 3px 3px 3px;box-shadow: 0px 2px 1px #e0e0e0 inset;-moz-box-shadow: 0px 2px 1px #e0e0e0 inset;-webkit-box-shadow: 0px 2px 1px #e0e0e0 inset;color: #717171;font-size: 13px !important;height: 35px; width: 100px;padding-left:10px;padding-right:0px;" onkeypress="checkPincode(event);">
                                                <div style="margin-top:-35px;">
                                                    <div style="margin-left: 117px;">
                                                        <input type="button" value="Check Availability" class="pdpPinChk" id="checkpincode" style="border-radius:4px;width: 140px;color: white; border: none; height: 35px; background-color:  #45a8a2; margin-RIGHT: 175PX;font-weight: inherit;cursor:pointer" onclick="PincodeCheck()">
                                                    </div>
                                                </div>
                                                <input type="hidden" name="code" id="code" value="199876">
                                                <img src="/_ui/desktop/common/images/loading.gif" id="PincodeCheckLoading" style="height: 161px; width: 186px;display:none; margin-left: 97px;margin-top: -61px;">
                                            </div>
                                            <div id="deliveryTatMessage" style="color:green;display:block">
                                                <p id="hdTATMsg"> </p>
                                                <p id="spTATMsg"> </p>
                                                <p id="edTATMsg"> </p>
                                            </div>
                                            <div>
                                                <span id="errorMessage" class="errorMessage" style="display: none; margin-bottom: -155px;"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <!--<button onclick="knowmore()">Know More</button> -->
                <!-- Added compare to checkbox but need to wire it -->
                <tr>
                    <td>
                        <div id="deliveryFlagDefault">
                            <table style="margin-top: 0px; width: 90%;">
                                <tbody>
                                    <tr>
                                        <td style="background-image: url('/_ui/desktop/common/images/tick.png'); background-repeat: no-repeat; padding-left: 20px;width:30%;padding-top:1px;">
                                            <p class="tip" style="width:105px;">Home Delivery[?]</p>
                                        </td>
                                        <td style="background-image: url('/_ui/desktop/common/images/tick.png'); background-repeat: no-repeat; padding-left: 20px;width:30%;padding-top:1px;">
                                            <p class="tip" onclick="storepickuppopup()"> Store Pickup[?]
                                            </p>
                                        </td>
                                        <td style="background-image: url('/_ui/desktop/common/images/tick.png'); background-repeat: no-repeat; padding-left: 20px;width:30%;padding-top:1px;">
                                            <p class="tip" style="width: 123px;"> Express Shipping[?]
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div id="flag1" style="color: #69a2a9; width: 90px; background-image: url('/_ui/desktop/common/images/tick.png'); background-repeat: no-repeat; padding-left: 20px; display: none;padding-top:1px;">
                                                <div class="tip">
                                                    Home Delivery<span>
                                                                    Place your order and get it
                                                                    delivered at your doorstep within 7 working days.
                                                                </span>
                                                </div>
                                            </div>
                                            <div id="flag2" style="color: #69a2a9; width: 90px; background-image: url('/_ui/desktop/common/images/cross1.png'); background-repeat: no-repeat; padding-left: 20px; display: none;padding-top:1px;"> Home Delivery
                                            </div>
                                        </td>
                                        <td>
                                            <div id="flag3" style="color: #69a2a9; width: 100px; background-image: url('/_ui/desktop/common/images/tick.png'); background-repeat: no-repeat; padding-left: 20px; display: none;padding-top:1px;" onclick="storepickuppopup()">
                                                <div class="tip">
                                                    Store Pickup[?]
                                                </div>
                                            </div>
                                            <div id="flag4" style="color: #69a2a9; width: 100px; background-image: url('/_ui/desktop/common/images/cross1.png'); background-repeat: no-repeat; padding-left: 20px; display: none;padding-top:1px;"> Store Pickup[?]
                                            </div>
                                        </td>
                                        <td>
                                            <div id="flag5" style="color: #69a2a9; background-image: url('/_ui/desktop/common/images/tick.png'); background-repeat: no-repeat; padding-left: 20px; display: none;padding-top:1px;">
                                                <div class="tip">
                                                    Express Shipping[?]
                                                </div>
                                            </div>
                                            <div id="flag6" style="color: #69a2a9; background-image: url('/_ui/desktop/common/images/cross1.png'); background-repeat: no-repeat; padding-left: 20px; display: none;padding-top:1px;"> Express Shipping[?]
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <!-- coupon code start -->
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <!-- coupon code end -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="yCmsContentSlot span-24">
        <div class="content">
            <h2>You may like these products also</h2>
            <iframe height="320" width="100%" src="http://webnspice.com/projs/CromaProjects/recommender2.php?q1=196582&amp;q2=Like&amp;q3=4&amp;q4=8"></iframe>
        </div>
    </div>
    <div id="productTabs" style="width: auto; margin: 0 auto; padding: 12px 0 5px;">
        <ul class="clearfix tabs-list tabamount3">
            <li id="accessibletabsnavigation0-0" class="current first">
                <a href="#" onclick="openTabPDP(0)"><span class="current-info">current first: </span>Technical Specifications</a>
            </li>
            <li id="accessibletabsnavigation0-1" onclick="openTabPDP(1)"><a id="tab-reviews" href="#accessibletabscontent0-1">Reviews</a></li>
            <li id="accessibletabsnavigation0-2" class="last" onclick="openTabPDP(2)"><a href="#accessibletabscontent0-2">Videos</a></li>
        </ul>
        <div class="content">
            <div class="tabhead" id="accessibletabscontent0-0" tabindex="-1">Product details</div>
            <div class="tabBody" style="display: block;" id='tabBody-0'>
                <div class="productDescriptionText">
                    {{{product_description}}}
                </div>
                <div class="productFeatureClasses">
                    <div class="headline">Technical details</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Source data-sheet</td>
                                <td>
                                    ICEcat.biz.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Processor</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Processor model</td>
                                <td>
                                    DIGIC III.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Memory</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Compatible memory cards</td>
                                <td>
                                    sd,mmc.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Display</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Display</td>
                                <td>
                                    TFT.
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Display diagonal</td>
                                <td>
                                    2.5"
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">System requirements</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Mac compatibility</td>
                                <td>
                                    true.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Connectivity</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Interface</td>
                                <td>
                                    USB (Mini-B, MTP, PTP).
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Lens system</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Digital zoom</td>
                                <td>
                                    4x
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Aperture range</td>
                                <td>
                                    f/3.0 - f/5.8.
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Number of aspheric elements</td>
                                <td>
                                    1.
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Lens structure (elements/groups)</td>
                                <td>
                                    7 / 6.
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Focal length</td>
                                <td>
                                    6.6 - 21.6mm
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Digital SLR</td>
                                <td>
                                    false.
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Optical zoom</td>
                                <td>
                                    3.3x
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Weight &amp; dimensions</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Weight</td>
                                <td>
                                    140g
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Height</td>
                                <td>
                                    62mm
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Depth</td>
                                <td>
                                    31.1mm
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Width</td>
                                <td>
                                    92.1mm
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Light exposure</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Camera shutter speed</td>
                                <td>
                                    1/60 - 1/2000s
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">ISO sensitivity</td>
                                <td>
                                    80, 100, 200, 400, 800, 1600.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Picture quality</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Megapixel</td>
                                <td>
                                    10MP
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Supported camera resolutions</td>
                                <td>
                                    (L) 3648 × 2736 (M1) 2816 × 2112 (M2) 2272 × 1704 1600 × 1200 (S) 640 × 480 (W) 3648 × 2048.
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Maximum resolution</td>
                                <td>
                                    3648 × 2736pixels
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Energy management</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Battery technology</td>
                                <td>
                                    Alkaline.
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Battery type</td>
                                <td>
                                    AA.
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Number of batteries supported</td>
                                <td>
                                    2.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Environmental conditions</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Operating relative humidity range</td>
                                <td>
                                    10-90%
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Operating temperature range (T-T)</td>
                                <td>
                                    0-40°C
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Colour</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Colour of product</td>
                                <td>
                                    Silver.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Video</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Video capability</td>
                                <td>
                                    true.
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Video capture resolution</td>
                                <td>
                                    640 × 480pixels
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Image sensor</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Effective sensor resolution</td>
                                <td>
                                    10pixels
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Optical sensor size</td>
                                <td>
                                    1/2.3"
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Sensor type</td>
                                <td>
                                    CCD.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Focusing</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Closest focusing distance</td>
                                <td>
                                    0.01m
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Auto focus</td>
                                <td>
                                    true.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Flash</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Flash range (wide)</td>
                                <td>
                                    0.3-3m
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Flash modes</td>
                                <td>
                                    auto.
                                    <br>Flash off.
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Built-in flash</td>
                                <td>
                                    true.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Operating system/software</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Compatible operating systems</td>
                                <td>
                                    Windows XP SP2-3 / Vista Mac OS × v10.4 - 10.5.
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Bundled software</td>
                                <td>
                                    ZoomBrowser EX / ImageBrowser.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Camera</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Playback zoom</td>
                                <td>
                                    2x - 10x.
                                </td>
                            </tr>
                            <tr>
                                <td class="attrib">Camera file format</td>
                                <td>
                                    JPEG.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">White balance</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">White balance</td>
                                <td>
                                    auto.
                                    <br>manual.
                                    <br>Fluorescent.
                                    <br>Cloudy.
                                    <br>daylight.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="headline">Scene modes</div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="attrib">Scene modes</td>
                                <td>
                                    Landscape.
                                    <br>Portrait.
                                    <br>Night portrait.
                                    <br>Close-up (macro).
                                    <br>Sunset.
                                    <br>Underwater.
                                    <br>beach.
                                    <br>Fireworks.
                                    <br>party (indoor).
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="accessibletabscontent0-1" class="tabhead" tabindex="-1">Reviews</div>
            <div class="tabBody" style="display: none;" id='tabBody-1'>
                <div id="reviews" class="reviews" data-reviews="/nitrogenstorefront/electronics/en/Open-Catalogue/Cameras/Digital-Cameras/Digital-Compacts/PowerShot-A480/p/1934796/reviewhtml/3" data-allreviews="/nitrogenstorefront/electronics/en/Open-Catalogue/Cameras/Digital-Cameras/Digital-Compacts/PowerShot-A480/p/1934796/reviewhtml/all">
                    <div id="read_reviews">
                        <div class="actionBar top clearfix">
                            <div class="left">
                                <a href="#" id="write_review_action" class="write">
                                                Write a Review
                                            </a>
                            </div>
                            <div class="right">
                                <a href="#" id="show_all_reviews_top_action">Show All</a>&nbsp;&nbsp; 3&nbsp;of&nbsp;{{noOfReviews}}&nbsp;Reviews
                            </div>
                        </div>
                        <div class="rewiewList">
                            {{#each (reviewHeadlines)}}
                            <div class="reviewDetail">
                                <span class="stars right" style="width: 80px; margin-right: 0px;">{{reviewRating @index}}</span>
                                <div class="headline">{{reviewHeadline this}}</div>
                                <div class="body">{{reviewComment @index}}</div>
                                <div class="autor">
                                    Submitted by Anonymous (25/10/2016)
                                </div>
                            </div>
                            {{/each}}
                            <!-- <div class="reviewDetail">
                                                                    <span class="stars right" style="width: 80px; margin-right: 0px;">5.0</span>
                                                    <div class="headline">This is a fantastic product, did everything I wanted it to do.</div>
                                                                    <div class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas ut est. Donec suscipit. Donec eget diam vitae purus condentum adipiscing. Suspendisse lorem diam, cursus non,aliquam et, blandit ac, orci. Phasellus malesuada orci sit amet lorem. Sed egestas tortor eget ipsum. Cras mattis,lorem sit amet congue condimentum, nibh tellus sodales augue, ac euismod lectus arcu eu purus. Mauris tellus ligula,molestie vel, cursus at, eleifend ut, diam. Integer felis. Morbi sapien massa, iaculis id, convallis in, laoreet id, leo.Nullam id metus. Suspendisse turpis tellus, fermentum mollis, scelerisque fermentum, hendrerit sed, mi. Pellentesque bibendum.Mauris sit amet dolor. Praesent ullamcorper accumsan purus. Aliquam erat volutpat. Vivamus a sapien sed dui faucibus porttito.</div>
                                                                    <div class="autor">
                                                                        Submitted by Anonymous
                                                                        (25/10/2016)
                                                                    </div>
                                                                </div>
                                                            <div class="reviewDetail">
                                                                    <span class="stars right" style="width: 64px; margin-right: 16px;">4.0</span>
                                                    <div class="headline">A good solid product, worthy of a purchase.</div>
                                                                    <div class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas ut est. Donec suscipit. Donec eget diam vitae purus condentum adipiscing. Suspendisse lorem diam, cursus non,aliquam et, blandit ac, orci. Phasellus malesuada orci sit amet lorem. Sed egestas tortor eget ipsum. Cras mattis,lorem sit amet congue condimentum, nibh tellus sodales augue, ac euismod lectus arcu eu purus. Mauris tellus ligula,molestie vel, cursus at, eleifend ut, diam. Integer felis. Morbi sapien massa, iaculis id, convallis in, laoreet id, leo.Nullam id metus. Suspendisse turpis tellus, fermentum mollis, scelerisque fermentum, hendrerit sed, mi. Pellentesque bibendum.Mauris sit amet dolor. Praesent ullamcorper accumsan purus. Aliquam erat volutpat. Vivamus a sapien sed dui faucibus porttito.</div>
                                                                    <div class="autor">
                                                                        Submitted by Anonymous
                                                                        (25/10/2016)
                                                                    </div>
                                                                </div> -->
                        </div>
                        <div class="actionBar bottom clearfix">
                            <div class="right">
                                <a href="#" id="show_all_reviews_bottom_action">Show All</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="write_reviews" class="reviews" style="display:none">
                    <div class="write_review clearfix">
                        <div class="headline">Write a Review</div>
                        <div class="required right">Fields marked* are required</div>
                        <div class="description">Please enter your review</div>
                        <form id="reviewForm" action="/nitrogenstorefront/electronics/en/Open-Catalogue/Cameras/Digital-Cameras/Digital-Compacts/PowerShot-A480/p/1934796/review" method="post">
                            <div class="write_review_container">
                                <div class="control-group">
                                    <label class="control-label " for="review.headline">
                                        Review Title<span class="mandatory">
                                                        <img width="5" height="6" alt="Required" title="Required" src="http://ny2.nviz.info:9001/nitrogenstorefront/_ui/desktop/common/images/mandatory.gif">
                                                    </span>
                                        <span class="skip"></span>
                                    </label>
                                    <div class="controls">
                                        <input id="review.headline" name="headline" class="text" type="text" value="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label " for="review.comment">
                                        Review Description<span class="mandatory">
                                                        <img width="5" height="6" alt="Required" title="Required" src="http://ny2.nviz.info:9001//nitrogenstorefront/_ui/desktop/common/images/mandatory.gif">
                                                    </span>
                                        <span class="skip"></span>
                                    </label>
                                    <div class="controls">
                                        <textarea id="review.comment" name="comment" class="textarea"></textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Your Rating *:</label>
                                    <div id="stars-wrapper" class="controls clearfix">
                                        <label>
                                            <img class="no_star" src="/nitrogenstorefront/_ui/desktop/common/images/jquery.ui.stars.custom.gif" alt="stars">
                                            <input id="rating1" name="rating" type="radio" value="1">1/5
                                        </label>
                                        <br>
                                        <label>
                                            <img class="no_star" src="/nitrogenstorefront/_ui/desktop/common/images/jquery.ui.stars.custom.gif" alt="stars">
                                            <input id="rating2" name="rating" type="radio" value="2">2/5
                                        </label>
                                        <br>
                                        <label>
                                            <img class="no_star" src="/nitrogenstorefront/_ui/desktop/common/images/jquery.ui.stars.custom.gif" alt="stars">
                                            <input id="rating3" name="rating" type="radio" value="3">3/5
                                        </label>
                                        <br>
                                        <label>
                                            <img class="no_star" src="/nitrogenstorefront/_ui/desktop/common/images/jquery.ui.stars.custom.gif" alt="stars">
                                            <input id="rating4" name="rating" type="radio" value="4">4/5
                                        </label>
                                        <br>
                                        <label>
                                            <img class="no_star" src="/nitrogenstorefront/_ui/desktop/common/images/jquery.ui.stars.custom.gif" alt="stars">
                                            <input id="rating5" name="rating" type="radio" value="5">5/5
                                        </label>
                                        <br>
                                    </div>
                                    <div class="help-inline"></div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label " for="alias">
                                        Your Name<span class="skip"></span>
                                    </label>
                                    <div class="controls">
                                        <input id="alias" name="alias" type="text" value="">
                                    </div>
                                </div>
                            </div>
                            <button class="positive" type="submit" value="Submit Review">Submit Review</button>
                            <input type="hidden" name="CSRFToken" value="793ca780-1473-4784-a26a-7470ca55b7ea">
                        </form>
                    </div>
                    <div class="actionBar bottom clearfix">
                        <a href="#" id="read_reviews_action">Back To Reviews</a>
                    </div>
                </div>
            </div>
            <div id="accessibletabscontent0-2" class="tabhead" tabindex="-1">Delivery</div>
            <div class="tabBody" style="display: none;" id='tabBody-2'>
                <table border="0" cellspacing="0" cellpadding="10" style="border-collapse: collapse; empty-cells: show; font-size: 12px; padding: 0px; margin: 0px; border: 0px initial initial;">
                    <tbody>
                        <tr style="padding: 0px; margin: 0px;">
                            <td colspan="4" style="vertical-align: top; text-align: left; font-weight: normal; padding: 0px; margin: 0px;">
                                <div style="padding-top: 10px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #8edf75;  border-top-width: 1px; border-top-style: solid; border-top-color: #8edf75; margin: 0px;">
                                    <p align="justify">
                                        Lorem ipsum dolor sit amet, dolor sed, ut nam ut. Senectus mauris egestas a massa, enim placeat wisi congue purus fermentum. Ut aptent mauris dapibus congue in sit. Sed dolor varius amet feugiat volutpat dignissim, pede a rhoncus sodales aliquam adipiscing, dapibus massa fusce. Dui egestas ornare urna nibh facilisi, cras posuere.
                                    </p>
                                    <p align="justify">
                                        Lorem aliquam accumsan eleifend sem libero lorem, aliquam sequi sed urna nec. Eget dolor quisque dolor, amet suspendisse ullamcorper minus elit lectus nunc, est mattis dui id eu et facilisis, conubia sit tristique. Ac fusce gravida condimentum iaculis neque, a platea curabitur accumsan porttitor vel justo. Amet potenti ac, eget amet ducimus sit nulla, ac porttitor rhoncus, justo proin tortor integer turpis nulla vitae. Egestas mollis litora nunc platea dui, eu semper mauris diam, erat quam, porta maecenas fusce libero non aliquet. Amet tellus taciti ligula sed sollicitudin, nonummy cursus enim, hendrerit nec, sed lacus sed at sit quis, semper a arcu mollis sapien nec pretium. Ante mauris eros nec, nonummy mauris, nulla lacinia vel. Volutpat luctus velit eu.
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    </div>
    


    
</script>