<!--  Search page template starts here-->
<script id="quicksearch_template" type="text/template">

<!-- <div class="siteSearch">
	<form name="search_form" method="get" action="/search/">
<div class="control-group left">
<label class="control-label skip" for="search">text.search</label>
<div class="controls">
<input id="search" class="siteSearchInput left ui-autocomplete-input" id="js-site-search-input"  name="text" value="" maxlength="100" placeholder="Which products can we help you buy today?" >
</div>
<div>
<button class="siteSearchSubmit" type="submit" disabled="disabled"></button>
</div>
</div>
</form>
<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 10001; top: 0px; left: 0px; display: none;"></ul>
</div> -->

 <!-- new searchbox -->
<form name="search_form" method="get" action="#">
		<div class="control-group left">
			<label class="control-label skip" for="search">text.search</label>
			<div class="controls">
				<input id="search" class="siteSearchInput left ui-autocomplete-input" style="height: 40px;
  padding: 4px 6px;
  margin-bottom: 10px;
  margin-top: -6.52px;
  margin-left: -6.5px;
  font-size: 13px;
  line-height: 20px;
    color: #38939c;
  vertical-align: middle;
    display: inline;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;" type="text" name="text" value="" maxlength="100" placeholder="Which products can we help you buy today?">
				</div>
			<div>
			<button class="siteSearchSubmit" type="submit"></button>
			</div>
		</div>
	</form>
<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 10001; top: 79.4844px; left: 283.5px; display: block; width: 315px;">
</ul>
</script>
<!--  Search page template starts here-->	
