
button.tn.btn-default.btn-block.js-pickup-in-store-button {
    font-size: 12px;
    line-height: 15.6px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #1A618B;
    color: #FFFFFF;
    height: 27px;
    /*width: 171.7px;*/
    border-style: 2px solid;
    border-color: #1A618B;
 margin-top: -38px;
}

.compare-nv{
 display: flex;
    flex-direction: row;
    / margin: 0 0 0 5px; /
    width: 100%;
    justify-content: space-between;
    border: 2px dotted grey;
    margin: 1vh 0 0 0;
    
}
.compare-nv-column{
     color: white;
     background: cadetblue;
     width: 14%;
     text-align: center;
}
.compare-nv-column_data {
 background: bisque;
    color: chocolate;
    width: 25%;
    text-align: center;
    white-space: nowrap;
}
.back-button-nviz {
    width: 5%;
    height: 3vh;
    color: cadetblue;
    border-radius : 2px;
}
.add-border{
    border-bottom : 1px dotted white;
    height: auto;
    font-weight: bold;
    text-align: center;
    margin-top:20px;
    padding: 10px 5px 10px 5px;
}

