.headline {
    font-size: 1.2em;
    font-weight: bold;
    height: 33px;
    line-height: 39px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.facetNavigation .facet {
    margin: 0 0 15px 0;
}

.facetNavigation .facet .facetHead {
    background-color: #f6f6f6;
    padding-bottom: 2px;
}

.facetNavigation .facet .facetHead .refinementToggle {
    display: block;
    line-height: 2em;
    background-color: #f6f6f6;
    font-weight: bold;
    font-size: 1.11em;
    background: url(http://1.resources.www.croma.com.edgesuite.net/s/P/vWwzTXGEg.webp) no-repeat 210px;
    padding: 0 6px;
    color: black;
}

#more.facetscroller {
    overflow: auto;
    height: 109px;
}

.facetNavigation .facetValues ul.facet_block {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 12px;
}

.facetscroller::-webkit-scrollbar {
    width: 7px;
    height: 8px;
}

.facetscroller::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #c9c9c9;
    -webkit-border-radius: 4px;
    outline: 1px solid #f2f2f2;
    outline-offset: -2px;
}

.facetscroller::-webkit-scrollbar-track-piece {
    background-color: #e9e9e9;
    -webkit-border-radius: 4px;
}

.paginationBar {
    clear: both;
    line-height: 4em;
    padding-left: 468px;
}

.paginationBar .sortForm {
    float: right;
    margin: 0;
}

.paginationBar ul.pagination li {
    float: left;
}

.paginationBar ul.pagination li a, .paginationBar ul.pagination li strong {
    display: block;
    width: 20px;
    text-align: center;
}

.paginationBar .showAll, .paginationBar .showPagination {
    float: right;
    margin: .5em 0 .5em 126px;
    padding: 0 14px;
    line-height: 3em;
    border-left: 1px solid silver;
    color: gray;
}

.paginationBar ul.pagination li .first {
    display: block !important;
    width: 30px;
    text-align: center;
}

.prodReview {
    margin: 0 0 20px 0;
}

.productDescription .price h2 {
    color: #e01313;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 7px;
}

.PDPAddToCart {
    border-radius: 4px;
    width: 140px;
    height: 40px;
    border-style: none;
    background-color: #45a8a2 !important;
    border-color: #45a8a2 !important;
    color: #fff;
}

.pickupInStore{
    border-radius: 4px;
    width: 140px;
    height: 40px;
    border-style: none;
    background-color: #ff4c4c !important;
    border-color: #45a8a2 !important;
    color: #fff;
}

.productThumb img {
    border: 1px solid #bfbfbf;
    cursor: pointer;
    margin: 2px;
    margin-bottom: 20px;
}

.clear {
    clear: right !important;
    display: block !important;
}

.gBox {
    clear: both;
    margin-bottom: -7px;
}

.gBox article {
    background: #fff;
    border: 1px solid #e1e1e1;
    display: inline-block;
    min-height: 180px;
    margin: 7px -5px -1px 0;
    padding: 6px 10px;
    position: relative;
    transition: all ease .2s;
    vertical-align: top;
    width: 219px;
    right: -12px;
}

.gBox article div {
    margin-top: 8px;
}

.gBox article h2 {
    height: 17px;
    overflow: hidden;
}

.gBox article h2, .gBox article h3, .gBox article h4 {
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 5px;
    position: relative;
    right: -4px;
}

.gBox article h2 a {
    color: #727272;
    font-weight: bold;
    text-decoration: none;
}

.gBox article h3 {
    color: red;
    font-size: 1.1em;
}

.gBox article div.op {
    height: 58px;
}

section.product .pDesc .cta .deli p, .sCart .delivery p, .divTable .delivery p, .gBox article div p, .popUp section.pickfromStore .pu-scrollDiv .delivery p {
    background: url(http://1.resources.www.croma.com.edgesuite.net/m/j/ECx_awE0w.webp) left top no-repeat;
    color: #69a2a9;
    font-size: .75em;
    margin: 0 0 5px 0;
    padding: 0 0 0 20px;
}

a.buyTheSetButton, button.addToCartButton {
    padding: 0 10px;
}

button.addToCartButton, #storeFinder .searchPane .findStoresNearMe, button.positive, a.button.positive {
    background-color: #45a8a2;
    border-color: #45a8a2;
    border-radius: 4px;
}

.gBox article .qv {
    background: url(http://2.resources.www.croma.com.edgesuite.net/5/Y/nHRrPXn3c.png) 29px center no-repeat #73787a;
    height: 0;
    left: 35px;
    margin: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all ease .5s;
    width: 173px;
    z-index: 9;
}

button.addToCartButton, #storeFinder .searchPane .findStoresNearMe, button.positive, a.button.positive {
    background-color: #45a8a2 !important;
    border-color: #45a8a2 !important;
    border-radius: 4px;
}