
html {
	
}

#nav_main a[title="Top Brands"]  {pointer-events: none; }

body {
	color: #666; /* modified */
	text-align: left;
	font-size: 12px;
/*	background: url("../images/tBg.png") repeat-x scroll left top
		rgba(0, 0, 0, 0);*/ /* modified */
}

#page{
	width:985px;
	padding:0 5px;
	margin:0 auto;

}

button{
	cursor:pointer;
	border-radius:4px;
}


.strong{
	font-weight:bold;
	
}



/*
	Rating Stars
*****************/

.stars{
	background:url("../images/stars.png") repeat-x left center  #cccccc;
	display:block;
	height:14px;
	float:left;
	color: transparent;
}

.hr-solid {
border-top: 1px solid #d8d8d8;
clear: both;
font-size: 0px;
margin: 20px 0;
}
/*
	required
*****************/

.required.right{
	margin: 0 0 20px;
	font-size: 100%;
	/* color: #666; */
	max-width: 60%;
}

.required.bulkOrder{
	margin: 0 0 0 0px;
	font-size: 1.0em;
	color: #464646;
	max-width: 100%;
}









table.store-openings {
	padding: 0;	
	margin: 20px 0;

}

table.store-openings td {
	padding: 1px 8px !important;
	border-bottom: 1px solid #EEEEEE !important;
}

table.store-openings td.weekday_openings_day {
	padding: 1px 8px 1px 8px !important;
	font-weight: bold;
}

table.store-openings td.specialday_openings_date {
	padding: 1px 8px 1px 0 !important;
	font-weight: bold;
}













/*


	Cart and Pickup button
*****************/

button.pickupInStoreButton,
button.addToCartButton{
	height:40px;
	background:#000;
	color:#fff;
	border:2px solid #000;
	padding:0;
	width:100%;
	font-size:1em;
}


button.pickupInStoreButton{
	background:#fff;
	color:#000;
	
}

button.addToCartButton{
	font-weight:bold;
	text-transform:uppercase;
}
/*


	alerts
*****************/



.alert{
	padding:12px;
	border:1px dotted;
	margin:0 0 20px 0;
}

.alert.positive{
	border-color:#339b01;
	color:#339b01;
}

.alert.negative{
	border-color:#c90400;
	color:#c90400;
}

.alert.neutral{
	border-color:#000;
	color:#000;
}
















/*
	Scroller 
*****************/



.span-24 > .scroller{
	  clear: both;
	padding:2px 0;
}

.span-24 > .scroller .title{
/* 	font-size:2em; */
/* 	font-weight:bold; */
/* 	color:#666666; */
/* /* 	border-bottom:1px solid #979797; */ */
/* 	padding:0 0 5px 0; */
/* 	text-transform:uppercase; */
/* 	margin:0 0 -10px 0; */
/* /* 	background-color: gray; */ */
  border: none;
  font-family: Tahoma,Geneva,Arial,Helvetica,sans-serif;
  color: #3c4748;
  font-size: 2em;
  font-weight: bold;
  padding: 0;
  margin: 10px 20px 0px 0;
  text-transform: capitalize;


}



.span-24 > .scroller ul li{
	width:232px;
	margin:-10px 8px 10px 2.5px; /* modified */
}


	

}

.scrollerProduct{
	margin:0 5px;
	display:block;
}


.scrollerProduct .thumb{
	padding:0 0 20px 0;
	margin:0 0 5px 0;
	border-bottom:1px dotted #c1c1c1;
}

.scrollerProduct .thumb img{ 
	width:60%;
    border: 1px solid #bfbfbf;
    cursor: pointer;
    margin: 2px;
    margin-bottom: 20px;
}




.scrollerProduct .details{
	color:#8f8f8f;
	padding:0 40px 0 0;

}


.scrollerProduct .priceContainer{
	float:right;
	margin: 0 0 0 5px;
}




.span-8 > .scroller{
	padding:40px 0;
}


.span-8 > .Scroll .title{
	font-size:1.167em;
	font-weight:bold;
	color:#666666;
	padding:0 0 5px 0;
	text-transform:uppercase;
	margin:0 0 20px 0;
	background-color: gray;
	width: 282px;
	border: 1px solid #CACACA;
	border-radius: 5px;
	margin-top: 40px;
}

.span-8 > .Scroll ul li{
	height:230px
	margin:0 20px 0 0;
}



.Scroll{
	margin:0 5px;
	display:block;
}


.Scroll .thumb{
	padding:0 0 20px 0;
		margin:0 0 5px 0;
		border-bottom:1px dotted #c1c1c1;
}

.Scroll .thumb img{ 
	margin-top:5px;
	width:50%;
}
.Scroll .background .fontDist{ 
	margin-top: -18px;
}
.Scroll .background{ 
	height: 250px;
	margin-top:5px;
	width: 250px;
	margin-left: 30px;
	background: #F1F1F1;
border: 1px solid #CACACA;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-ms-border-radius: 5px;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}


.scrollerProduct .details{
	color:#8f8f8f;
	padding:0 40px 0 0;

}


.scrollerProduct .priceContainer{
	float:right;
	margin: 0 0 0 5px;
}









/*
	Scroller 
*****************/

.jcarousel-clip {
	overflow: hidden;
	margin-left: -13px; /* modified */
				
}

.jcarousel-skin .jcarousel-prev{
	position: absolute;
	width: 25px;
	height: 25px;
	border: 0;
	padding: 0;
	background: url("../images/pagination-prev.png") no-repeat;
	margin:0;
}
.jcarousel-skin .jcarousel-next {
	position: absolute;
	width: 25px;
	height: 311px;
	border: 0;
	padding: 0;
	background: url("../images/pagination-next_home.png") no-repeat;
}

.jcarousel-skin .jcarousel-prev[disabled],
.jcarousel-skin .jcarousel-next[disabled] {
	opacity: 0.1;
	cursor: default;
}


.jcarousel-skin .jcarousel-prev-horizontal,
.jcarousel-skin .jcarousel-next-horizontal {
	top: 40%;
}

.jcarousel-skin .jcarousel-prev-horizontal {
	left: -30px;
	background-position: 0 0;
}

.jcarousel-skin .jcarousel-next-horizontal {
	right: -30px;
	background-position: right 0;
}


.jcarousel-skin .jcarousel-prev-vertical,
.jcarousel-skin .jcarousel-next-vertical {
	left: 50%;
	margin-left: -12.5px;
}

.jcarousel-skin .jcarousel-prev-vertical {
	top: -22px;
	background-position: 0 bottom;
}

.jcarousel-skin .jcarousel-next-vertical {
	bottom: -22px;
	background-position: right bottom;
}







.jcarousel-container-vertical{
	margin:30px 0;
}



.jcarousel-container{
	background:#fff;
}





ul.jcarousel-skin{
	background: url("../images/spinner.gif") no-repeat center center ;
    display: block;
    height: 100%;
    width: 100%;
	min-width:50px;
	min-height:50px;
	
}
/* hide loading */
ul.jcarousel-skin li{
	display:none;
}





/*
	Banner Sizes
*****************/

.cms_disp-img_slot .thumb img,
#content .simple_disp-img img{
	width:107%;
	height:100%;
}




.doCheckoutBut{
	margin-right:0;
}
.scroller .productImageGallery{
	float:left;
	position:relative;
	height:720px;
    overflow:hidden;
	}

.Scroll .productImageGallery .jcarousel-clip{
	height:360px;
}
#colorbox  .Scroll .productImageGallery .jcarousel-clip {
    height:455px;
}

.Scroll .productImageGallery .jcarousel-clip{
	height:550px;
}

.Scroll .productImageGallery li{

	height:245px;
	margin:0 0 30px 0;
}



.doCheckoutBut{
	margin-right:0;
}
.stars{
	background:url("../images/scoresNew.png") repeat-x left center  #cccccc;
	display:block;
	height:14px;
	float:left;
	color: transparent;
}
.greyStars{
	background:url("../images/stars.png") repeat-x left center  #cccccc;
	display:block;
	height:14px;
	float:left;
	color: transparent;
}

.hr-solid {
border-top: 1px solid #d8d8d8;
clear: both;
font-size: 0px;
margin: 20px 0;
}

.Scroll .productImageGallery{
	float:left;
	width:330px;
	position:relative;
	height:420px;
}

.title{
 	border: none;
  /*font-family: Tahoma,Geneva,Arial,Helvetica,sans-serif;*/
	font-family:"mercedeslight",Tahoma,Geneva,Arial,Helvetica,sans-serif;
  color: #3c4748;
    font-weight: bold;
  
  padding: 0;
  margin: 10px 20px 0px 0;
 

}

.homepagetitle{
 	font-size: 28px;
border: none;
  font-family: "mercedeslight",Tahoma,Geneva,Arial,Helvetica,sans-serif;
  color: #3c4748;
  font-size: 1.7em;
  font-weight: bold; /* modified */
  padding: 0;
  margin: 10px 20px 0px 0;
  text-transform: capitalize;
}

/* For compare functionality */
.compareDetails{
	margin:20px -20px 0px 0px;
	width:950px;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
	height: 700px;
}

.compareDetails1{
	margin:10px -20px 0px 0px;
	width:950px;
	border-bottom : 2px solid #eeeeee;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
	border: 1px solid gray;
}

.compareDetails2{
	margin:10px -20px 0px 0px;
	width:980px;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.compareDetails3{
	margin:10px -20px 0px 0px;
	width:980px;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.compareDetails .tile{
	padding: 0px 0px 20px;
	width: 140px;
	margin: 0px 20px 20px 0px;
	height: 100px;
}

.compareDetails .tileprodname{
	padding: 0px 20px 0px;
	width: 140px;
	margin: 0px 20px 20px 0px;
	height: 20px;
	font-size: 10pt;
}

.compareDetails .tile1kfheader{
	padding: 0px 20px 5px;
	width: 140px;
	margin: 0px 20px 8px 0px;
	height: 8px;
	font-size: 10pt;
}

.compareDetails .tilekf li {
	background: url(/cromastorefront/_ui/desktop/common/images/popup-ul.png)
		left 4px no-repeat;
	padding: 0px 20px 4px;
	width: 140px;
	margin: 0px 20px 5px 0px;
	height: 30px;
	font-size: 8pt;
}

.compareDetails .tileproductprice{
	padding: 0px 20px 5px;
	width: 140px;
	margin: 30px 20px 8px 0px;
	height: 8px;
	font-size: 10pt;
}

.compareDetails .tilebuynow{
	padding: 0px 18px 5px;
	width: 140px;
	margin: 30px 20px 8px 0px;
	height: 8px;
	font-size: 8pt;
}

.compareDetails .tilemoreinfo{
	padding: 0px 20px 5px;
	width: 140px;
	margin: 30px 20px 8px 0px;
	height: 8px;
	font-size: 8pt;
}

.compareDetails .tileblank{
	padding: 0px 20px 20px;
	width: 130px;
	margin: 0px 20px 20px 0px;
	height: 150px;
}

.compareDetails .tileclasscheckboxes{
	padding: 0px 20px 20px;
	width: 130px;
	margin: 0px 20px 20px 0px;
	height: 150px;
	font-size: 8pt;
}

.compareDetails1 .tile1{
	border:1px solid #FFFFFF;
	padding:0 20px 20px 0px;
	width:140px;
	margin:0 20px 20px 0;
	height:17px;
	color: #433938;
	font-size: 13px;
}

.compareDetails1 .tileEven{
	padding:7px 27px 20px 13px;
	margin:0 20px 20px 0;
	height:7px;
	font-size: 1.07em;
	
}

.compareDetails1 .tileOdd{
	padding:7px 27px 20px 13px;
	margin:0 20px 20px 0;
	height:7px;
	font-size: 1.07em;
	background:#ffffff;
	
}

.compareDetails1 .tileClassRow{
	padding:7px 27px 20px 13px;
	margin:0 20px 20px 0;
	height:7px;
	color: #433938;
	font-size: 1.07em;
	background:#eeeeee;
	
}

.compareDetails1 .backNavEven{
	padding: 7px 20px 20px;
	margin: 0px 20px 20px 0px;
	height: 7px;
	color: #0F496F;
	font-size: 1.07em;
	
}

.compareDetails1 .backNavOdd{
	padding: 7px 20px 20px;
	width: 119px;
	margin: 0px 20px 20px 0px;
	height: 7px;
	color: #0F496F;
	font-size: 9pt;
	background: none repeat scroll 0% 0%;
	
}

.compareDetails2 .backNav2{
	border: 0px dotted #A5A5A5;
	padding: 7px 20px 20px;
	width: 119px;
	margin: 0px 20px 20px 0px;
	height: 7px;
	color: #0F496F;
	font-size: 1.07em;
}

.compareDetails3 .backNav3{
	border:0px dotted #a5a5a5;
	padding:0 20px 20px;
	width:119px;
	margin:0px 20px 20px 0px;
	height:17px;
	color: #0F496F;
	font-size: 15px;
	font-family: signika;
}

.compareDetails .backNav .navBtn .btnCls{
	width:97px;
	height: 27px;
	color: #036;
	background-color: #dedede;
	border-color: #dedede;
	font-weight: bold;
	font-size: 11px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	padding:5px 0px 13px 7px;
	margin: 0px 0px 3px -20px;
	font-weight: 100;
}

.compareDetails .tile .headline{
	border-bottom: 0px solid #A5A5A5;
	font-size: 1.2em;
	font-weight: bold;
	height: 39px;
	line-height: 39px;
	text-transform: uppercase;
	margin:25px 0 20px;
}

.compareDetails .tile .headline a{
	display:block;
}

.compareDetails .tile .headline .details {
	margin: 17px 0px 0px -13px;
	
}

.compareDetails .tile .headline .details a{
	text-transform: none;
	font-size: 12.3px;
}

.tile1Wrap {
	
}

.compAttrTable {
	border-top: 1px outset #ddd;
	width:99%;
}

.compareDetails2 .tile2{
	border:1px solid #FFFFFF;
	padding:0px 35.7px 20px 3px;
	width:138.9px;
	margin:0 20px 20px 0px;
	height:17px;
	color: #433938;
	font-size: 13px;
}

.compareDetails3 .tile3{
	border:1px solid #FFFFFF;
	padding:0px 35.7px 20px 3px;
	width:138.9px;
	margin:0 20px 20px 0px;
	height:17px;
	color: #433938;
	font-size: 13px;
}

.btnCls1 {
	width: 133px;
	height: 17px;
	color: #FFF;
	background-color: #0E537E;
	border-color: #0E537E;
	font-size: 11px;
	border-radius: 4px;
	display: inline-block;
}

.btnCls2 {
	width: 133px;
	height: 17px;
	color: #0E537E;
	background-color: #DEDEDE;
	border-color: #DEDEDE;
	font-size: 11px;
	border-radius: 4px;
	display: inline-block;
	margin: -27px 0px 0px 0px;;
}

.closeWindow{
	float:right;
	display:block;
	position:static;
	margin:-25px -20px 0px 0px;
	background:url("../images/cross1.png") no-repeat right center;
	width:20px;
	height:20px;
	border-bottom: 1.5px solid #EEE;
	border-left: 1.5px solid #EEE;
	cursor: pointer;
}

.compDtlsA {
	font-weight: bold;
	font-style: inherit;
	font-size: 90%;
	font-family: Arial,sans-serif;
}

.compImg {
	position: relative;
	left: 10%;
	border-bottom:0;
	padding-right:20px;
	width:96px;
}

.compTableTr {
	height:30px;
}

.crsCls {
	vertical-align:top;
}

.crsImg {
	margin:-4px 0px 0px -12px;
}

.compTable {
	width:103px; 
	background: #eeeeee; 
	border-spacing:.5em; 
	border: 1px solid #C1C1C1;
	font-size: 1.167em;
	color: #808080;
	display:inline-table;
	padding-left: 14px;
} 
.compTableDiv {
	display:none;
	margin-top: -118px;
	margin-left: 235px;
} 

.compTableDivOriginal {
	position:fixed;
	margin-top: -118px; 
	margin-left: 1000px;
} 

.compTableImg {
	width: 170px;
	height: 140px;
} 

.tile1{
	border:1px solid #FFFFFF;
	padding:0 20px 20px 0px;
	width:140px;
	margin:0 20px 20px 0;
	height:17px;
	color: #433938;
	font-size: 13px;
}

.tileEven{
	border:1px solid #FFFFFF;
	padding:7px 27px 20px 13px;
	margin:0 20px 20px 0;
	height:7px;
	color: #433938;
	font-size: 1.07em;
	
}

.tileOdd{
	border:1px solid #FFFFFF;
	padding:7px 27px 20px 13px;
	width: 137.9px;
	margin:0 20px 20px 0;
	height:7px;
	color: #433938;
	font-size: 1.07em;
	background:#eeeeee;
}

.backNavEven{
	border: 0px dotted #A5A5A5;
	padding: 7px 20px 20px;
	margin: 0px 20px 20px 0px;
	height: 7px;
	color: #0F496F;
	font-size: 1.07em;
	
}

.backNavOdd{
	border: 0px dotted #A5A5A5;
	padding: 7px 20px 20px;
	width: 119px;
	margin: 0px 20px 20px 0px;
	height: 7px;
	color: #0F496F;
	font-size: 1.07em;
	background: none repeat scroll 0% 0% #EEE;
}

.addToCompareTitle{
color: #999900;
font-family: "mercedeslight",Tahoma,Geneva,Arial,Helvetica,sans-serif;
font-weight: normal;
padding-bottom: 5px;
}

@font-face {
   font-family: mercedeslight;
   src: url(/_ui/desktop/common/css/mercedeslight.woff);
}


.emptyCart h1{
	font-family: "mercedeslight",Tahoma,Geneva,Arial,Helvetica,sans-serif;
    color: #45a8a2;
    font-size: 1.8em;
    font-weight: normal;
    margin: 0px 0 10px;
    padding-bottom: 11px;
    border-bottom: 1px solid #e5e9ea;
    text-transform: uppercase;
}
.emptyCart span img{
	
	margin-bottom:2px;
}
.gm-style > div[title]{
display:none !important;
pointer-events: none !important;
left:200px !important;
}
